<%- include("../../views/partials/admin/header") %>

<link href="/css/coupon.css" rel="stylesheet" type="text/css" />


<section class="content-main">
 <div class="content-header">
   <div>
     <h2 class="content-title card-title">Coupons</h2>
   </div>
 </div>
 <div class="card">
   <div class="card-body">
     <div class="row">
       <div class="col-md-3">
         <form >
           <body onload=""></body>
             <div class="mb-4">
               <label for="coupon-name" class="form-label">Coupon Name</label>
               <input
                 type="text"
                 id="coupon-name"
                 name="couponName"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-coupon-name" class="error-message"></div>
             </div>


             <div>
               <label for="startingDate" class="form-label">Start Date</label>
               <input
                 type="date"
                 name="startDate"
                 class="form-control"
                 required="true"
                 id="startingDate"
               />
               <div id="error-start-date" class="error-message"></div>
             </div>


             <div>
               <label for="expiringDate" class="form-label">End Date</label>
               <input
                 type="date"
                 name="endDate"
                 class="form-control"
                 id="expiringDate"
                 required="true"
               />
               <div id="error-end-date" class="error-message"></div>
             </div>



             <div class="coupon-container">
                <label for="offer-type" class="form-label">Offer Type</label>
                <select id="offer-type"  class="form-control">
                  <option value="" disabled selected>Select a Offer Type</option>
                  <option value="Flat">Flat</option>
                  <option value="Percentage">Percentage</option>
                </select>
                <div id="error-offer-type" class="error-message"></div>
             </div>



             <div>
               <label for="offer-price" class="form-label">percentage/flat Amt</label>
               <input
                 type="text"
                 name="offerPrice"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-offer-price" class="error-message"></div>
             </div>


          



             <div>
               <label for="minimum-price" class="form-label"
                 >Minimum Price</label
               >
               <input
                 type="text"
                 name="minimumPrice"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-minimum-price" class="error-message"></div>
             </div>


             <div class="d-grid">
               <button
                 class="btn btn-primary mt-20"
                 onclick="addCoupon();"
                 type="button"
               >
                 Add Coupon
               </button>
             </div>
             <div id="err-msg" class="error-message"></div>
           </body>
         </form>
       </div>
       <div class="col-md-8 ml-112">
         <div class="table-responsive">
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Created On</th>
                         <th>Expire On</th>
                         <th>Offer Type</th>
                         <th>Offer Price</th>
                         <th>Minimum Price</th>
                         <th>Status</th>
                         <th>Edit/Delete</th>
                     </tr>
                 </thead>
                 <tbody>
                  <% for (let i = 0; i < couponDetails.length; i++) { %>
                    <tr>
                        <td class="text-start"><%= couponDetails[i].code %></td>
                        <td class="text-start"><%= couponDetails[i].fromDate %></td>
                        <td class="text-start"><%= couponDetails[i].toDate %></td>
                        <td class="text-start"><%= couponDetails[i].offerType %></td>
                        <td class="text-start"><%= couponDetails[i].offerValue %></td>
                        <td class="text-start"><%= couponDetails[i].minimumPurchase %></td>
                        <%if( couponDetails[i].isActive){%>
                        <td class="text-start"><%= couponDetails[i].isActive ? "Active" : "InActive" %></td>
                       <%}else{%>
                        <td class="text-start" style="color: rgb(228, 7, 15);"><%= couponDetails[i].isActive ? "Active" : "InActive" %></td>
                   
                        <%}%>
                        <td class="text-start">
                            <a href="#" onclick="confirmDelete('<%=couponDetails[i]._id%>')" class="btn btn-danger btn-sm" style="height: 35px; width: 105px;">Delete</a>
                        </td>
                    </tr>
                    <% } %>
                    
                 </tbody>
             </table>
         </div>
     </div>
     </div>
   </div>
 </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/js/coupon.js"></script>
<%- include("../../views/partials/admin/footer") %>
